// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaaaaa;
$bright-green: #00FF98;
$bright-blue: #24A1FF;

// Design colors
$top-bar-color: $bright-green;
$button-color: $bright-blue;